.app-bar {
  background-color: #6a1b9a;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 100vw;

  .MuiIconButton-root {
    color: white;
  }

  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
  }

  .back-button {
    color: white;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #4e1482;
    }
  }

  .delete-button {
    color: white;

    &:hover {
      background-color: #4e1482;
    }
  }
}