.app-bar {
  background-color: #6a1b9a;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 1rem;
  width: 100vw;

  .MuiIconButton-root {
    color: white;
  }

  .title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
  }

  .back-button {
    color: white;
    margin-right: 20px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #4e1482;
    }
  }

  .delete-button {
    color: white;

    &:hover {
      background-color: #4e1482;
    }
  }
}
